<div class="home-container">
    <div class="left-box">
        <div class="small-box-time">
            <app-clock></app-clock>
        </div>
        <div class="small-box-time">
            <p class='headline'>System</p>
            <p>CPU 75.5% </p>
            <p>RAM 6GB</p>
        </div>
        <a href="storage" class="small-box-storage">
            <p class='headline'>Storage</p>
            <div class="storage-usage">
                <img src="../../assets/iconHardDrive.png" alt="Icon Harddrive" width="35%">
                <div class="flex-container">
                    <div>Used: 19.05GB</div> 
                    <div>Total: 686.1GB</div>
                </div>
            </div>
            <div style="background-color: rgb(218, 189, 152);">PLACEHOLDER Progressbar</div>
        </a>
    </div>
    <div class="right-box">
        <a href="news" class="big-box">
            <p class='headline'>Newsfeed</p>
        </a>
        <a href="media" class="big-box">
            <p class='headline'>Mediaserver</p>
        </a>
        <a href="weather" class="big-box">
            <p class='headline'>Weather</p>
        </a>
        <a href="recipies" class="big-box-recipies">
            <p class='headline'>Recipies</p>
        </a>
    </div>
</div>