<div class="recipies-container">
    <div class="right-box">
        <a class="recipie-card" (click)="expand(this)">
            <p class='hover-3'>Gemüsepfanne</p>
            <img class="recipies-img" src="../../assets/Recipies/GemPfanne.jpg" alt="Gemüsepfanne mit Feta">
            <a>What's cookin?</a>
        </a>
        <a href="media" class="recipie-card">
            <p class='hover-3'>oatmeal</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="weather" class="recipie-card">
            <p class='hover-3'>DönerKebap</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="recipies" class="recipie-card">
            <p class='hover-3'>Yellow There</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="weather" class="recipie-card">
            <p class='hover-3'>Oatmeal</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="recipies" class="recipie-card">
            <p class='hover-3'>Oatmeal</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="weather" class="recipie-card">
            <p class='hover-3'>Oatmeal</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
        <a href="recipies" class="recipie-card">
            <p class='hover-3'>Oatmeal</p>
            <img class="recipies-img" src="../../assets/Recipies/placeholder.jpg" alt="">
        </a>
    </div>
</div>